.font {
    font-family: "Roboto","Helvetica-neue",sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.title {
    font-weight: 400;
}

.item-a {
    grid-area: imgView;
}

.item-b {
    grid-area: stDescript;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "imgView" "stDescript"
}

.center {
    margin: auto;
    width: 80%;
}

.heroImg {
    max-height: 500px;
    max-width: 500px;
}

.heroImgHeight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    overflow: hidden;
}
.child1 {
    width: 500px
}
.child2 {
    width: 330px;
}

.carousel {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    margin-bottom:4px;
}

.stDescript {
    font-size: 14px;
}

.thumbnail {
    padding: 4px;
}

.thumbnail-high-light {
    border-bottom: 4px solid #4285f4;
}

.zeroMargin {
    margin: 10px;
    padding-left: 20px;
}

.autoMargin {
    margin: auto;
}

.section {
    padding-top: 10px;
    border-top: 1px solid grey
}

.lpadding {
    padding-left: 10px
}

.listMargin {
    margin: 10px;
}

#ulpadding {
    padding-left: 20
}

.aboutTitle {
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: 400;
    margin-top: 10px;
    font-size: 25px;
}

.tmpad {
    margin: 5px;
    padding-bottom: 5px;
}

.productName {
    margin: 30px 0px 0px 0px;
    font-weight: 400;
    font-size: 25px
}

.productContainer {
    margin: 10px 10px 30px 10px;
}
